<%-include ("../layouts/header") %>
<div id="landing-header">
<h1>HALLO! WELCOME to my  event website!</h1>
<a href="/" class="btn btn-lg btn-success">hallo!</a>
</div>

<ul class="slideshow">
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
</ul>

<hr>


<%-include ("../layouts/footer") %>