<%-include ("../layouts/header") %>
<form method="POST" action="/gallery">

  <input type="text" id="image" name="image" required>

  <button type="submit">POST</button>
</form>

<%-include ("../layouts/footer") %>