<%-include ("../layouts/header") %>
<h1> Event  </h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum cum aliquam libero voluptatem blanditiis similique quod eius. In sapiente ad soluta aliquam dolorum tempore a consequuntur quisquam modi. Veniam, fuga.</p>

<%-include ("../layouts/footer") %>