</body>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec mauris vel ipsum dignissim suscipit.</p>
      </div>
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p>123 Main Street, Anytown USA</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@example.com</p>
      </div>
      <div class="col-md-4">
        <h3>Register for our newsletter</h3>
        <input type="text" placeholder="youremail@mail.com">
        <button>subscribe</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr">
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
        <div>

          <a href="../login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
          <a href="../signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
          <a href="../logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
        </div>
        <p class="text-center">&copy; 2023 Example Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>


